<div class="container mt-5 mb-3 ">
  <div class="row justify-content-center">

    <div class="col-5 border border-dark p-2">
      <p class="text-center">{{funcionario.nome}} </p>
      <p class="text-center">{{funcionario.funcao}}</p>
      <ul class="list-group list-group-flush">

        <li class="list-group-item "><i class="bi bi-currency-dollar"></i> Salário base:
          {{funcionario.salario}}
        </li>

        <li class="list-group-item"><i class="bi bi-people"></i> Dependentes:
          {{funcionario.dependentes}}
        </li>

        <li class="list-group-item"> <i class="bi bi-clock"></i> Jornada de trabalho:
          {{funcionario.jornadaDeTrabalho}} horas
        </li>

        <li class="list-group-item"><i class="bi bi-clipboard-pulse"></i> Valor plano de saúde:
          {{funcionario.valorPlanoDeSaude}} R$
        </li>

        <li class="list-group-item"><i class="bi bi-radioactive"></i> Adicional periculosidade:
          {{funcionario.adicionalPericulosidade}}%
        </li>

        <li class="list-group-item"> <i class="bi bi-stopwatch"></i> Horas extras:
          {{funcionario.horasExtras}}
        </li>

        <li class="list-group-item"><i class="bi bi-credit-card"></i> Ajuda de custo:
          {{funcionario.ajudaDeCusto}} R$
        </li>

        <li class="list-group-item"><i class="bi bi-file-person"></i> CPF:
          {{funcionario.cpf}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row justify-content-center mt-2">
    <div class="col-5">
      <button (click)="irParaEdicaoFuncionario()" type="button" class="btn btn-info btn-lg btn-block">Editar informações <i class="bi bi-clipboard-data"></i></button>
    </div>
  </div>

</div>
