<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/painel-empresa']">Painel da Empresa</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/listar-funcionarios']">Lista de Funcionários</a></li>
      <li class="breadcrumb-item active" aria-current="page">Perfil</li>
    </ol>
  </nav>
</div>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="card mb-5">
    <div class="card-header">
      <strong>{{funcionario.funcao}}</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">Nome: {{funcionario.nome}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item "><i class="bi bi-currency-dollar"></i> Salário base:
          {{funcionario.salario | currency:'BRL'}}
        </li>
        <li class="list-group-item"><i class="bi bi-people"></i> Dependentes:
          {{funcionario.dependentes}}
        </li>
        <li class="list-group-item"> <i class="bi bi-clock"></i> Jornada de trabalho:
          {{funcionario.jornadaDeTrabalho}} horas
        </li>
        <li class="list-group-item"><i class="bi bi-clipboard-pulse"></i> Valor plano de saúde:
          {{funcionario.valorPlanoDeSaude | currency:'BRL'}}
        </li>
        <li class="list-group-item"><i class="bi bi-radioactive"></i> Adicional periculosidade:
          <ng-container *ngIf="funcionario.adicionalPericulosidade == true; else adicionalFalse">Sim</ng-container>
          <ng-template #adicionalFalse>Não</ng-template>
        </li>
        <li class="list-group-item"> <i class="bi bi-stopwatch"></i> Horas extras:
          {{funcionario.horasExtras}}
        </li>
        <li class="list-group-item"><i class="bi bi-credit-card"></i> Ajuda de custo:
          {{funcionario.ajudaDeCusto | currency:'BRL'}}
        </li>
        <li class="list-group-item"><i class="bi bi-file-person"></i> CPF:
          {{funcionario.cpf}}
        </li>
      </ul>
      <div class="d-flex justify-content-center align-items-center">
        <button (click)="irParaEdicaoFuncionario()" class="btn btn-primary mt-3"><i class="bi bi-clipboard-data"></i> Editar informações</button>
      </div>
    </div>
  </div>
</div>
