<div class="container mt-3 p-3">

  <div class="row justify-content-center" >
    <h1 class="roboto-h1">Ações rápidas</h1>
  </div>

  <div class="row justify-content-center ">
    <div class="col-xl-3">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header bg-header text-white"> <i class="bi bi-person-plus-fill mr-1"></i> Adicionar colaborador
        </div>
        <div class="card-body bg-body rounded">
          <a [routerLink]="['/cadastrar-funcionario']" class="btn btn-info">Cadastrar</a>
        </div>
      </div>
    </div>

    <div class="col-xl-3">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header bg-header text-white"> <i class="bi bi-people-fill mr-1"></i> Listar funcionários</div>
        <div class="card-body bg-body rounded">
          <a [routerLink]="['/listar-funcionarios']" class="btn btn-info">Ver funcionários</a>
        </div>
      </div>
    </div>

    <div class="col-xl-3">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header bg-header text-white"> <i class="bi bi-layout-text-window mr-2"></i>Gerar holerite</div>
        <div class="card-body bg-body rounded">
          <a [routerLink]="['/gerar-holerite']" class="btn btn-info">Gerar holerite</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container mt-3 mb-5">

  <div class="row justify-content-center" >
    <h1 class="roboto-h1">Pesquisar Funcionário</h1>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center mt-2">
    <div class="input-group mb-3 col-6">
      <input [(ngModel)]="funcionarioCpf" type="text" mask="000.000.000-00" 
       class="form-control" placeholder="CPF do Funcionário">
      <div class="input-group-append" >
        <button
          (click)="pesquisarUsuario()"
          class="btn btn-dark"
          type="button"
          data-toggle="collapse"
          data-target="#resultadoPesquisa" >
          Pesquisar
        </button>
      </div>
    </div>

    <div class="collapse" id="resultadoPesquisa">
      <div class="card">
        <div class="card-body card-func">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-file-person-fill mr-2"></i>
                    Nome
                  </span>
                </div>
                <input [(ngModel)]="funcionarioEncontrado.nome" readonly type="text" class="form-control" placeholder="Nome">
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-briefcase-fill mr-2"></i>
                    Função
                  </span>
                </div>
                <input [(ngModel)]="funcionarioEncontrado.funcao" readonly type="text" class="form-control" placeholder="Cargo">
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-upc mr-2"></i>
                    ID
                  </span>
                </div>
                <input [(ngModel)]="funcionarioEncontrado.id" readonly type="text" class="form-control" placeholder="identificador">
              </div>
            </li>
            <div  *ngIf="existeFuncionario()" class="card-footer">
              <div class="d-flex align-items-center justify-content-center">
                <a [routerLink]="['../perfil-funcionario', funcionarioEncontrado.id]">
                  <button class="btn btn-primary">Mais Detalhes</button>
                </a>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
