.bg-container{
  background-color: #D5F2ED;
}

.border-color{
  border-width: large;
  border-style: solid;
  border-color: #011C26;;
}

.bg-header{
  background-color: #011C26;
}

.bg-body{
  background-color: #F0F7F4;
}

.card-func {
  padding: 0 !important;
}

.card {
  background-color: inherit !important;
}
