<div class="container mt-3 p-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Painel do Colaborador</li>
    </ol>
  </nav>

  <div class="row justify-content-center">
    <div class="col-xl-3 mb-3">
      <h1>Ações rápidas</h1>
    </div>
  </div>

  <div class="row justify-content-center ">
    <div class="col-xl-3">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header bg-header text-white"> <i class="bi bi-person-plus-fill mr-1"></i>
          Consulte seus holerites
        </div>
        <div class="card-body bg-body">
          <div class="form-group">
            <label for="exampleInputEmail1">CPF:</label>
            <input [(ngModel)]="funcionarioCpf" type="email" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>
          <a [routerLink]="['/listar-holerites', funcionarioCpf]" class="btn btn-dark">Consultar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center">
  <h4>Forneça o CPF do funcionário e a data do holerite</h4>
  <div class="row mt-3">
    <div class="input-group mb-3 col">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-upc"></i>
        </span>
      </div>
      <input [(ngModel)]="funcionarioCpf" type="text" class="form-control" placeholder="Informe seu CPF">
    </div>
    <div class="input-group mb-3 col">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="bi bi-calendar-event"></i>
        </span>
      </div>
      <input [(ngModel)]="data" type="text" class="form-control" placeholder="Data referente">
    </div>
    <div class="col">
      <button (click)="gerarHolerite()" type="button" class="btn btn-warning">Consultar holerite</button>
    </div>
  </div>
</div>

<main #holerite>
  <div *ngIf="existeHolerite()" class="container mt-2 mb-4">
    <div class="row justify-content-center">
      <div id="holerite-container">
        <div class="cabecalho">
          <p>{{ holeriteGerado.cabecalho.nomeEmpresa }}</p>
          <p>CNPJ: {{ holeriteGerado.cabecalho.cnpjEmpresa }}</p>
          <div id="cabecalho-right">
            <p>Recibo de pagamento de salário</p>
            <p>{{ holeriteGerado.cabecalho.data }}</p>
            <p>COD: {{ holeriteGerado.cabecalho.cod }}</p>
          </div>
          <div id="subcabecalho">
            <p>Funcionário: {{ holeriteGerado.cabecalho.nomeFuncionario }}</p>
            <p>Função: {{ holeriteGerado.cabecalho.cargoFuncionario }}</p>
          </div>
        </div>
        <table class="table table-striped mt-1 table-sm">
          <thead>
            <tr>
              <th scope="col" class="detalhe-blue">COD</th>
              <th scope="col">Descrição</th>
              <th scope="col">Ref</th>
              <th scope="col">Vencimentos</th>
              <th scope="col">Descontos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalhe of holeriteGerado.detalhes">
              <th scope="row" class="detalhe-blue">{{ detalhe.id }}</th>
              <td class="detalhe-white">{{ detalhe.descricao }}</td>
              <td class="detalhe-white">{{ detalhe.referencia }}</td>
              <td class="detalhe-white">{{ detalhe.vencimento | currency:'BRL' }} </td>
              <td class="detalhe-white">{{ detalhe.desconto | currency:'BRL' }}</td>
            </tr>
          </tbody>
        </table>
        <div id="rodape1">
          <div id="blank"></div>
          <div id="total">
            <div id="total-top">
              <div id="total-vencimentos">
                <p style="line-height: 1rem;">Total de vencimentos:</p>
                <p>{{ holeriteGerado.rodape.totalVencimentos | currency:'BRL' }}</p>
              </div>
              <div id="total-descontos">
                <p style="line-height: 1rem;">Total de descontos:</p>
                <p>{{ holeriteGerado.rodape.totalDescontos | currency:'BRL' }}</p>
              </div>
            </div>
            <div id="total-bottom">
              <p>Valor líquido: {{ holeriteGerado.rodape.valorLiquido | currency:'BRL' }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <p>Salário base: {{ holeriteGerado.rodape.salarioBase | currency:'BRL' }}</p>
            <p>FGTS: {{ holeriteGerado.rodape.baseFgts | currency:'BRL' }}</p>
          </div>
          <div class="col-sm">
            <p>Base INSS: {{ holeriteGerado.rodape.baseInss | currency:'BRL' }}</p>
            <p>Dependentes: {{ holeriteGerado.rodape.dependentes }}</p>
          </div>
          <div class="col-sm">
            <p>Base IRPF: {{ holeriteGerado.rodape.baseIrpf | currency:'BRL' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
