<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/painel-empresa']">Painel da Empresa</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cadastrar Funcionário</li>
    </ol>
  </nav>

  <form #f="ngForm" class="row justify-content-center border p-3">
    <div class="col-3">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nome completo</label>
        <input [(ngModel)]="funcionario.nome" name="nome" class="form-control"
          placeholder="nome completo do funcionário" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">CPF</label>
        <input [(ngModel)]="funcionario.cpf" name="cpf" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Função</label>
        <input [(ngModel)]="funcionario.funcao" name="funcao" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Salário</label>
        <input [(ngModel)]="funcionario.salario" name="salario" class="form-control"
          placeholder="salário base do funcionário" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Quantidade de dependentes</label>
        <select [(ngModel)]="funcionario.dependentes" name="dependentes" class="form-control"
          id="exampleFormControlSelect1" required>
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Adicional de periculosidade</label>
        <select [(ngModel)]="funcionario.adicionalPericulosidade" name="adicionalPericulosidade" class="form-control"
          id="exampleFormControlSelect1" required>
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="exampleFormControlInput1">Jornada de trabalho</label>
        <input [(ngModel)]="funcionario.jornadaDeTrabalho" name="jornadaDeTrabalho" class="form-control"
          placeholder="quantidade de horas no mês" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Horas extras</label>
        <input [(ngModel)]="funcionario.horasExtras" name="horasExtras" class="form-control"
          placeholder="quantidade de horas extras" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Ajuda de custo</label>
        <input [(ngModel)]="funcionario.ajudaDeCusto" name="ajudaDeCusto" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Valor do plano de saúde</label>
        <input [(ngModel)]="funcionario.valorPlanoDeSaude" name="valorPlanoDeSaude" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo de funcionário</label>
        <select [(ngModel)]="funcionario.tipoFuncionario" name="tipoFuncionario" class="form-control"
          id="exampleFormControlSelect1" required>
          <option value="COLABORADOR">Colaborador</option>
          <option value="TRABALHADOR_DOMESTICO">Trabalhador doméstico</option>
          <option value="JOVEM_APRENDIZ">Jovem aprendiz</option>
        </select>
      </div>
      <button (click)="cadastrar()" type="button"
        class="btn btn-success cad-btn" data-toggle="modal" [attr.data-target]="tipoModal">
        Cadastrar
      </button>
    </div>
  </form>
</div>

<div class="modal fade" id="sucesso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Funcionário cadastrado com sucesso!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="erroCadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Erros de validação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
