.cad-btn {
  margin-top: 2rem;
}

form {
  background-color: #C1D7CF;
  border-radius: 10px;
}

.backdrop{
  background-color:rgba(0,0,0,0.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}
