<div class="container mt-5">
   <div class="row justify-content-center">
     <div class="col-xl-6 mb-1">

       <div class="card text-center">
        <div class="card-header bg-header text-white">
          Painel da Empresa <i class="bi bi-building"></i>
        </div>
        <div class="card-body bg-body">
          <h5 class="card-title ">Controle de funcionários</h5>
          <p class="card-text "> Gerencie funcionários, consulte e emita holerites.</p>
          <a [routerLink]="['/painel-empresa']" class="btn btn-info">Ir para o painel</a>
        </div>
        <div class="card-footer text-muted bg-footer"></div>
      </div>

     </div>
     <div class="col-xl-6">

       <div class="card text-center">
        <div class="card-header bg-header text-white">
          Painel do Colaborador <i class="bi bi-person-rolodex"></i>
        </div>
        <div class="card-body bg-body">
          <h5 class="card-title">Consulte seus holerites</h5>
          <p class="card-text">Busque por todos ou algum por uma data especifíca.</p>
          <a [routerLink]="['/painel-funcionario']" class="btn btn-info">Ir para o painel</a>
        </div>
        <div class="card-footer text-muted bg-footer"></div>
      </div>

    </div>
   </div>
</div>
