<div class="container mt-5">
   <div class="row justify-content-center">
     <div class="col-xl-6 mb-1">

       <div class="card text-center">
        <div class="card-header bg-header text-white">
          Painel da Empresa <i class="bi bi-building"></i>
        </div>
        <div class="card-body bg-body">
          <h5 class="card-title ">Controle de funcionários</h5>
          <p class="card-text "> Gerencie funcionários, consulte e emita holerites.</p>
          <a href="#" class="btn btn-info">Ir para o painel</a>
        </div>
        <div class="card-footer text-muted bg-footer"></div>
      </div>

     </div>
     <div class="col-xl-6">

       <div class="card text-center">
        <div class="card-header bg-header text-white">
          Painel do Colaborador <i class="bi bi-person-rolodex"></i>
        </div>
        <div class="card-body bg-body">
          <h5 class="card-title">Consulte seus holerites</h5>
          <p class="card-text">Busque por todos ou algum por uma data especifíca.</p>
          <a href="#" class="btn btn-info">Ir para o painel</a>
        </div>
        <div class="card-footer text-muted bg-footer"></div>
      </div>

    </div>
   </div>
</div>


<!--
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Cadastrar um funcionário</div>
        <div class="card-body text-dark">
          <a [routerLink]="['/cadastrar-funcionario']" class="btn btn-dark">Cadastrar</a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Listar funcionários</div>
        <div class="card-body text-dark">
          <a [routerLink]="['/listar-funcionarios']" class="btn btn-dark">Ver funcionários</a>
        </div>
      </div>
    </div>

  </div>
</div>
-->
