<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/painel-empresa']">Painel da Empresa</a></li>
      <li class="breadcrumb-item active" aria-current="page">Listar Funcionários</li>
    </ol>
  </nav>
  <div class="row justify-content-center">
    <div class="col-5">
      <table class="table table-light rounded table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.funcao}}</td>
            <td><a  [routerLink]="['/perfil-funcionario', funcionario.id]"  class="btn btn-secondary">Detalhes</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
