<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-5">
      <table class="table table-light rounded table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.funcao}}</td>
            <td><a  [routerLink]="['/perfil-funcionario', funcionario.id]"  class="btn btn-secondary">Detalhes</a></td>
          </tr>
        </tbody>
      </table>
      <button (click)="back()" class="btn">Voltar</button>
    </div>
  </div>
</div>
