<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/painel-empresa']">Painel da Empresa</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/listar-funcionarios']">Lista de Funcionários</a></li>
      <li class="breadcrumb-item"><a class="back" (click)="back()">Perfil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Editar Informações</li>
    </ol>
  </nav>
</div>

<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
  <div class="card pb-3">
    <div class="card-header">
      <strong>Editar informações</strong>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-file-person-fill mr-2"></i>
                Nome
              </span>
            </div>
            <input [(ngModel)]="funcionario.nome" type="text" class="form-control" placeholder="Nome">
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-briefcase-fill mr-2"></i>
                Função
              </span>
            </div>
            <input [(ngModel)]="funcionario.funcao" type="text" class="form-control" placeholder="Cargo">
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-currency-dollar mr-2"></i>
                Salário
              </span>
            </div>
            <input [(ngModel)]="funcionario.salario" type="text" class="form-control"
            mask="separator.2" thousandSeparator="" separatorLimit="99999" prefix="R$" placeholder="Salário base">
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-credit-card mr-2"></i>
                 Ajuda de custo
              </span>
            </div>
            <input [(ngModel)]="funcionario.ajudaDeCusto" type="text" class="form-control"
            mask="separator.2" thousandSeparator="" separatorLimit="99999" prefix="R$" placeholder="Salário base">
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-people mr-2"></i>
                Dependentes
              </span>
            </div>
            <input [(ngModel)]="funcionario.dependentes" type="text" class="form-control" placeholder="dependentes" >
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-clock mr-2"></i>
                Jornada de trabalho
              </span>
            </div>
            <input [(ngModel)]="funcionario.jornadaDeTrabalho" type="text" class="form-control" placeholder="jornada de trabalho" >
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-clipboard-pulse mr-2"></i>
                Valor do plano de saúde
              </span>
            </div>
            <input [(ngModel)]="funcionario.valorPlanoDeSaude"
            mask="separator.2" thousandSeparator="" separatorLimit="999" prefix="R$"
            type="text" class="form-control" placeholder="valor plano de saúde">
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-radioactive mr-2"></i>
                Adicional de periculosidade
              </span>
            </div>
            <input [(ngModel)]="funcionario.adicionalPericulosidade" type="text" class="form-control" placeholder="adicional periculosidade" >
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-credit-card mr-2"></i>
                Horas extras
              </span>
            </div>
            <input [(ngModel)]="funcionario.horasExtras" type="text" class="form-control" placeholder="horas extras" >
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-file-person mr-2"></i>
                CPF
              </span>
            </div>
            <input mask="000.000.000-00" [(ngModel)]="funcionario.cpf" readonly type="text" class="form-control" placeholder="cpf" >
          </div>
        </li>
      </ul>
      <div class="d-flex justify-content-center align-items-center">
        <button (click)="atualizarInformacoes()" class="btn btn-primary mt-3"><i class="bi bi-clipboard-data"></i> Atualizar informações</button>
      </div>
    </div>
  </div>
</div>
