/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  background-color:#104A56;
}

.roboto-h1 {
  font-size: 47px;
  font-weight: 700;
  color: #fff;
  line-height: 61px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #000;
}

.roboto-h4 {
  font-size: 27px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
